@font-face {
    font-family: "Roboto";
    src: url('~@/shared/styles/fonts/Roboto-Regular.otf') format("opentype");
    font-weight: 400;
}
  
@font-face {
    font-family: "Roboto";
    src: url('~@/shared/styles/fonts/Roboto-Bold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url('~@/shared/styles/fonts/Roboto-Medium.otf') format("opentype");
    font-weight: 500;
}